{
   "ignorePatterns": "config-overrides.js",
   "extends": [
      "react-app",
      "react-app/jest",
      "plugin:jsx-a11y/recommended"
   ],
   "plugins": [
      "jsx-a11y",
      "formatjs"
   ],
   "rules": {
      "formatjs/enforce-description": ["warn", "literal"],
      "formatjs/enforce-default-message": ["error", "literal"]
    }
}